.input-label-combo {
    width: 100%;
}

.input-label-combo > .slider{
    width: calc(100% - 60px);
}

.input-label-combo > label{
    width: 60px;
    margin: 0 auto;
    padding: 0 0;
    float:right;
    text-align: center;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    tooltip-position:bottom;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    /*-webkit-appearance: none; !* Override default look *!*/
    /*appearance: none;*/
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #0d6efd; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider:disabled::-webkit-slider-thumb{
    background: gray;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #0d6efd; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider:disabled::-moz-range-thumb{
    background: gray;
}